<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.listugas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LisTugas">

        <!-- this is the searchable activity; it performs searches -->

        <activity
            android:name=".SignupSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".ui.setting.setting_aboutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.setting.setting_settingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.add_task.add_task"
            android:exported="true" />
        <activity
            android:name=".ui.setting.setting_profile"
            android:exported="true" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".forgot_pass_activity"
            android:exported="true" />
        <activity
            android:name=".NavActivity"
            android:exported="true"
            android:label="@string/title_activity_nav" />
        <activity
            android:name=".ui.home.home_Emptytask"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".onboarding_plan"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.listugas.ui.add_task.AlarmBrodcastReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>